@charset "utf-8";
/* New Perspectives on HTML5 and CSS3, 7th Edition Kyle sanchez 4/28/2019 Filename: activities.css This is the style sheet for the activities page */
/* Grouping style */
 section {
     float: left;
     margin: 0 1.5%;
     width: 63%;
}
 aside {
     float: right;
     margin: 0 1.5%;
     width: 30%;
}
/* Aside Picture sizing */
.bb1 {
     width: 800px;
     height: 600px;
     padding-top:10px;
     padding-bottom:10px;
}
.fishing1 {
     width: 400px;
     height: 500px;
     padding-top:10px;
     padding-bottom:10px;
}
.sub2 {
     transform: rotate(330deg);
     width: 600px;
     height: 500px;
     padding-top:10px;
     padding-bottom:10px;
}
/* Picture sizing */
.instalogo {
     width:50px;
     height:45px;
}
.kentucky {
     width:200px;
     height:200px;
}
.jefferson {
     width:200px;
     height:200px;
}
.bb2 {
     width:200px;
     height:200px;
     float:right;
}
.nm1 {
     width:300px;
     height:230px;
}
.nm2 {
     width:300px;
     height:230px;
}

.headerimg{
	width:100%;
     max-height:400px;
}
/* Activities Paragraph color styles */
 .ac {
     background: #333;
     color:white;
     text-align:center;
}
 .bodybuild {
     background: #333;
     color:white;
}
 .fish {
     background: #333;
     color:white;
}
 .subaru {
     background: #333;
     color:white;
}
 .vacay {
     background: #333;
     color:white;
     text-align:center;
}
 .vacayh1 {
     background: #333;
     color:white;
}
 .vacayh2 {
     background: #333;
     color:white;
}
 .vacayh3 {
     background: #333;
     color:white;
}
/* Aside Style */
 aside {
     float: right;
     margin: 0 1.5%;
     width: 30%;
}
