@charset "utf-8";

/*
      Author:   Kyle Sanchez
      Date:     5/6/2019
      Filename: mealPlan.css
   
      This is a style sheet for mealPlan.html
      

*/


#top1 {
	text-align: center;
  padding: 14px 16px;
}
#top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#top li {
  float: left;
  list-style-type: none;
  font-size: 22px;
}

#top li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


/* Basic table styles */
table {
    border-collapse: collapse;
} 

h1, h2 {
	text-align: center;
}

th {
  background-color: #FA4343;
  color: white;
}
td {
	background-color: #ececec;
	color: black;
}
footer {
	text-align: center;
	background-color: #3637f3;
	color: white;
}
table, th, td  {
    border: 2px solid black;
    text-align: center;
}

th, td {
    padding: 5px;
	min-width: 100px;
}